<h3>Welcome farmer</h3>
<a href="/logout">Logout</a>

{{#each product}}
<ul>
{{this.name}}
{{this.quantity}}
{{this.price}}</ul>
<a href="/farmer-profile/{{this._id}}/edit">edit</a>
<form method="POST" action="/farmer-profile/{{this._id}}/delete"><button>Delete</button></form>
{{/each}}
<a href="/add">Create Product</a>

