<h1>Welcome farmer</h1>
<a href="/logout">Logout</a>

{{#each product}}
<ul>
{{this.name}}
{{this.quantity}}
{{this.price}}</ul>
<a href="/drones/{{_id}}/edit">edit</a>
<form method="POST" action="/drones/{{_id}}/delete"><button>Delete</button></form>
{{/each}}

<a href="/add">Create Product</a>


<!--<h2>Update Products</h2>
<form method="POST" action="/drones/{{drone._id}}/edit">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input value="{{drone.name}}" name="myDrone" type="text" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="mb-3">
    <label for="exampleInputDescription1" class="form-label">Propellers</label>
    <input value="{{drone.propellers}}" name="myPropellers" type="text" class="form-control" id="exampleInputDescription1">
  </div>
  <div class="mb-3">
    <label for="exampleInputDescription1" class="form-label">Max speed</label>
    <input value="{{drone.maxSpeed}}" name="myMaxSpeed" type="text" class="form-control" id="exampleInputDescription1">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
<form method="POST" action="/add">
<a href="/add">Create Product</a></form>